# ---------- Golang ----------
server/**/.env

# build files
**/apiGateway
**/authApp
**/orderApp
**/inventoryApp

# Generated protobuf files
*.pb.go

# Go modules artifacts
go.sum
go.mod

# misc
.DS_Store
.env.*

# yarn cache
.yarn-cache

# .env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
