server/**/.env

# misc
.DS_Store
.env.*

# yarn cache
.yarn-cache

# .env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

node_modules

# AWS
.elasticbeanstalk

# Ignore docker-compose.yml in all subdirectories as this was used for AWS deployment
**/docker-compose.yml
